
/*
 *=============================================================
 * Shifted all css form pages/index file to here in this file       *
 * For global use.            
 * 
 * Move by soumitra patra
 * Date:13/01/20 6:53pm
 *=============================================================
 */


/*==============================form layout/header file==============================*/
.headerblock{
    body {
        margin: 0;
      }
      
      .topnav {
        overflow: hidden;
        background-color: #333;
      }
      
      .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      
      .topnav a.active {
        background-color: #d23940;
        color: white;
      }
      
      .topnav .icon {
        display: none;
      }
      
      @media screen and (max-width: 600px) {
        .topnav a:not(:first-child) {
          display: none;
        }
        .topnav a.icon {
          float: right;
          display: block;
        }
      }
      
      @media screen and (max-width: 600px) {
        .topnav.responsive {
          position: relative;
        }
        .topnav.responsive .icon {
          position: absolute;
          right: 0;
          top: 0;
        }
        .topnav.responsive a {
          float: none;
          display: block;
          text-align: left;
        }
      }
      
      @media screen and (max-width: 700px) {
        .row,
        .navbar {
          flex-direction: column;
        }
      }
      
      .leftBlock {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        display: -ms-flexbox;
        display: -webkit-flex;
      }
      .rightBlock {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        display: -ms-flexbox;
        display: -webkit-flex;
        justify-content: flex-end;
      }
      .wlcomeBlock {
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
      }
      .wlcomeBlock img {
        width: 16px;
        height: 20px;
      }
      .wlcomeBlock p {
        margin-bottom: 0px;
        margin-left: 5px;
        color: #818384;
        font-size: 14px;
      }
      .addressBlock {
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        margin-left: 15px;
      }
      .addressBlock img {
        width: 16px;
        height: 20px;
      }
      .addressBlock p {
        margin-bottom: 0px;
        margin-left: 5px;
        color: #818384;
        font-size: 14px;
      }
      .signUpBlock {
        display: flex;
        flex-wrap: wrap;
        display: -ms-flexbox;
        display: -webkit-flex;
      }
      
      .rightBlock a {
        color: #818384 !important;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
      }
      .rightBlock a:last-child {
        margin-left: 15px;
      }
      .rightBlock a:hover {
        border-bottom: 2px solid #818384;
      }
      .firstTop {
        min-height: 48px;
      }
      .inner-form {
        display: flex;
        flex-wrap: wrap;
        display: -ms-flexbox;
        display: -webkit-flex;
        position: relative;
      }
      .logoBlock {
        width: 20%;
      }
      .searchblock {
        width: 60%;
      }
      
      .vCenter {
        align-items: center;
      }
      .first-wrap {
        width: 20%;
      }
      .first-wrap select {
        width: 100%;
        border: 1px solid #bbbcbd;
        padding: 8px 15px;
        border-right: transparent;
      }
      .second-wrap {
        width: 80%;
      }
      .second-wrap input {
        width: 100%;
        border: 1px solid #bbbcbd;
        padding: 8px 15px;
        border-left: transparent;
      }
      .third-wrap {
        position: absolute;
        right: 0;
        border-left: 1px solid #bbbcbd;
        margin-top: 5px;
        padding-top: 5px;
      }
      .third-wrap img {
        width: 20px;
        height: 20px;
        margin: 0px 10px;
      }
      .cartSection {
        width: 20%;
        padding: 0 0 0 15px;
      }
      .cartLeft p {
        margin-bottom: 0;
        color: #fff;
      }
      .cartSectionInner {
        background: #0f0977;
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
        display: -ms-flexbox;
        display: -webkit-flex;
        position: relative;
        justify-content: space-between;
      }
      .cartRight {
        border-left: 1px solid #fff;
        padding-left: 10px;
        padding-top: 6px;
      }
      .topnav .container {
        padding: 0;
      }
      .topnav a:first-child {
        padding: 12px 16px;
      }
      .topnav a {
        color: #fff !important;
      }
}


/*==============================form layout/footer file==============================*/


.footerblock{
    .footer-top{
        background: #808080;
      }
      .footerRightLinks{
        float: right;
      }
      .footerLeftLinks .navbar{
          padding: 0 !important;
        }
       .footerLeftLinks .navbar-nav{
          padding-left:0;
        }
      .footerRightLinks p {
          display: inline-block;
      }
      .footerLeftLinks .nav-item a{
        color: #000;
        transition: all 0.25s ease-in;
      }
      .footerLeftLinks .nav-item a:hover{
        color: #fff;
      }
      .questionText{
        font-size: 20px;
        font-weight: 600 !important;
        margin-top: 10px;
        color: #fff;
        margin-right: 15px;
      }
      .footerRightLinks p{
        margin-bottom: 0;
        color: #fff;
        font-weight: 200;
      }
      .footerLeftLinks .nav-item{
        border-right: 1px solid #000;
      }
      .footerLeftLinks .nav-item:last-child{
        border:none;
      }
      .footerBottom{
        background: #333;
      }
      .footerBottom img{
        width: 100%;
      }
      .copyRight p{
        margin-bottom: 0;
        text-align: center;
        color: #fff;
        font-weight: 200;
      }
}


 /*=============================form pages/index file=====================================*/
.product-grid {
    font-family: Raleway, sans-serif;
    text-align: center;
    padding: 0 0 88px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  .product-grid .product-image {
    position: relative;
    transition: all 0.3s ease 0s;
    border: 1px solid #e0e0e0;
    margin: 10px;
  }
  .product-grid .product-image a {
    display: block;
  }
  .product-grid .product-image img {
    width: 100%;
    height: auto;
  }
  .product-grid .pic-1 {
    opacity: 1;
    transition: all 0.3s ease-out 0s;
  }
  .product-grid:hover .pic-1 {
    opacity: 1;
  }
  .product-grid .pic-2 {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease-out 0s;
  }
  .product-grid:hover .pic-2 {
    opacity: 1;
  }
  .product-grid .social {
    width: 150px;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    top: 60%;
    left: 50%;
    z-index: 1;
    transition: all 0.3s ease 0s;
  }
  .product-grid:hover .social {
    opacity: 1;
    top: 50%;
  }
  .product-grid .social li {
    display: inline-block;
  }
  .product-grid .social li a {
    color: #fff;
    background-color: #333;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    height: 40px;
    width: 40px;
    margin: 0 2px;
    display: block;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  .product-grid .social li a:hover {
    color: #fff;
    background-color: #d23940;
  }
  .product-grid .social li a:after,
  .product-grid .social li a:before {
    content: attr(data-tip);
    color: #fff;
    background-color: #000;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 20px;
    padding: 1px 5px;
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -30px;
  }
  .product-grid .social li a:after {
    content: "";
    height: 15px;
    width: 15px;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -20px;
    z-index: -1;
  }
  .product-grid .social li a:hover:after,
  .product-grid .social li a:hover:before {
    opacity: 1;
  }
  .product-grid .product-discount-label,
  .product-grid .product-new-label {
    color: #fff;
    background-color: #d23940;
    font-size: 12px;
    text-transform: uppercase;
    padding: 2px 7px;
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
  }
  .product-grid .product-discount-label {
    background-color: #333;
    left: auto;
    right: 0;
  }
  .product-grid .rating {
    color: #ffd200;
    font-size: 12px;
    padding: 12px 0 0;
    margin: 0;
    list-style: none;
    position: relative;
    z-index: -1;
  }
  .product-grid .rating li.disable {
    color: rgba(0, 0, 0, 0.2);
  }
  .product-grid .product-content {
    background-color: #fff;
    text-align: center;
    padding: 12px 0;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    transition: all 0.3s;
  }
  
  .product-grid .product-title {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    margin: 0 0 10px;
    transition: all 0.3s ease 0s;
  }
  .product-grid .product-title a {
    color: #333333;
    font-size: 16px;
    font-weight: 600;
  }
  .product-grid .product-title a:hover,
  .product-grid:hover .product-title a {
    color: #d23940;
  }
  .product-grid .price {
    color: #333;
    font-size: 17px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    letter-spacing: 0.6px;
    margin-bottom: 8px;
    text-align: center;
    transition: all 0.3s;
  }
  .product-grid .price span {
    color: #999;
    font-size: 13px;
    font-weight: 400;
    text-decoration: line-through;
    margin-left: 3px;
    display: inline-block;
  }
  .product-grid .add-to-cart {
    background: #d23940;
    color: #ffffff;
    font-size: 15px;
    font-weight: lighter;
    width: 100%;
    padding: 10px;
  }
  @media only screen and (max-width: 990px) {
    .product-grid {
      margin-bottom: 30px;
    }
  }
  .image-aboutus-banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 110px;
    padding-bottom: 110px;
  }
  
  .lg-text {
    font-size: 52px;
    font-weight: 600;
    text-transform: none;
    color: #fff;
  }
  .image-aboutus-sm-banner p {
    color: #fff;
  }
  
  .control-box h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
  }
  
  .control-box {
    border: 1px solid #dddcd8;
  
    background-color: #fff;
  }
  
  .control-box .links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .control-box .links li {
    margin-bottom: 10px;
  }
  
  .control-box .links li a {
    color: #aa1212;
    text-decoration: underline;
  }
  
  .list-group {
    margin-top: 12px;
    float: left;
    padding-top: 5px;
    padding-bottom: 10px;
    width: 100%;
    background: #e3e3e3;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  }
  .lead {
    margin: auto;
    left: 0;
    right: 0;
    padding-top: 10%;
  }
  .sideImg1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("~assets/image/slider1.jpg");
  }
  
  .list-group p {
    font-weight: 800;
    color: #333;
    padding: 10px 1.25rem;
    margin-bottom: 0;
  }
  .list-group a {
    color: #333 !important;
  }
  .hrMod {
    margin: 0 20px;
    border-color: #333;
    padding-bottom: 15px;
  }
  a:hover {
    text-decoration: none;
  }
  
  .list-group-item {
    position: relative;
    display: block;
    border: none;
    padding: 5px 1.25rem;
    background: #e3e3e3;
    display: block;
    background-image: linear-gradient(
      to left,
      transparent,
      transparent 50%,
      #d23940 50%,
      #d23940
    );
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 0.25s ease-in;
  }
  .list-group-item:hover {
    background-position: 0 0;
    color: #fff !important;
  }
  .list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .grayBorder {
    height: 6px;
    width: 100%;
    background: #b3b3b3;
    margin: 20px 0;
  }
  .btmProductHeading h3 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
  }
  .bottomProducts .product-image img {
    max-height: 285px;
    width: auto;
  }

  // For Single Product Details 

  .header-navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: .80rem;
  }
  
  .header-navigation a {
    font-size: .80rem;
  }
  
  .header-navigation .breadcrumb {
    margin-bottom: 0;
    background-color: transparent;
    padding: 0.20rem 1rem;
  }
  
  .header-navigation .btn-group {
   margin-left: auto;
  }
  
  .header-navigation .btn-share {
    position: relative;
  }
  
  .header-navigation .btn-share::after {
    content: "";
    width: 1px;
    height: 50%;
    background-color: #ccc;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
  }
  
  .store-body {
    display: flex;
    flex-direction: row;
    padding: 0;
  }
  
  .store-body .product-info { 
    height: 100%;
  }
  
  .store-body .product-payment-details {
    padding: 0 15px 0 20px;
  }
  
  .product-info .product-gallery {
    display: flex;
    flex-direction: row;
  }
  
  .product-gallery-featured {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    cursor: zoom-in;
    padding: 0 10px;
  }
  
  .product-gallery-thumbnails .thumbnails-list li {
    margin-bottom: 5px;
    cursor: pointer;
    position: relative;
    width: 70px;
    height: 70px;
    border: 2px solid #dadada;
  }
  
  .thumbnails-list li img {
    display: block;
    width: 100%;
  }
  
  .product-gallery-thumbnails .thumbnails-list li:hover::before {
    content: "";
    width: 3px;
    height: 100%;
    background: #d23940;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .product-info .product-seller-recommended {
    padding: 20px 20px 0 20px;
  }
  
  .product-comments textarea {
    height: 50px;
  }
  
  .last-questions-list li {
    margin-bottom: 20px;
  }
  
  .last-questions-list li span {
    padding-left: 10px;
  }
  .list-unstyled{
    padding-left: 10px !important;
    
  }
.product-gallery-featured img {
  width: 100%;
}
.borderRight{
  border-right: 1px solid #dadada;
}

.breadcrumb {
  padding: 5px 10px;
  font-size: 14px;
  border-radius: unset;
  margin-bottom: 5px;
}
.breadcrumb-item a {
  color: #989898 !important;
}
.breadcrumb-item.active {
  color: #d23940;
}
.text-muted{
  margin-bottom: 5px !important;
}
.product-title{
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 20px !important;
}
.v-application .display-4{
  font-size: 30px !important;
  font-weight: 800;
  margin-bottom: 0;
  line-height: 30px;
}
.actualPrice{
  font-size: 25px;
  font-weight: 600;
  color: #aaaaaa;
  text-decoration: line-through;
}
button.qty-change{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #e3e3e3;
}

.qty-input{
  height: 30px;
  width: 80px;
  text-align: center;
  border: 1px solid #d8d8d8;
}
.skuTable{
  margin: 15px 0;
}
.skuTable tr:nth-child(2) td{
  padding-top: 10px;
}
.skuTable tr td:first-child{
  font-weight: 500;
}
.skuTable tr td:last-child{
  padding-left: 10px;
}
.saveTxt {
  font-size: 12px;
  color: #d23940;
  margin-bottom: 0 !important;
}
.btnBuy{
  background: #d23940;
  border: #d23940;
}
.btnBuy:hover{
  background: #8a242a;
  border: #8a242a;
}
.text-muted a {
  color: #d23940 !important;
}
.lineBreak {
  border-bottom: 1px solid #e2e2e2;
  margin: 10px 0;
}
.tabHeaderBackground{
  background: #e0e0e0 !important;
}
.theme--dark.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active){
  color: rgba(0, 0, 0, 0.59);
}
.v-tab--active{
  color: #d23940 !important;
}
.v-tabs-slider {
  background-color: #d23940;
}